.gallery {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-color: rgba(0,0,0,.85);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__main {
  padding: 5px 15px 15px 15px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  /* Prevent vertical gaps
  line-height: 0;
  -webkit-column-count: 6;
  -webkit-column-gap:   0px;
  -moz-column-count:    6;
  -moz-column-gap:      0px;
  column-count:         6;
  column-gap:           0px; */
}

.gallery__main img {
  height: 220px;
  width: 100%;
}

.gallery__picture {
  height: 220px;
  margin: 7px;
  flex: 1 0 auto;
}

.Gallery__spinner {
  font-size: 10vh;
}

.gallery__spinnerText {
  margin-top: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 25px;
  font-size: .7em;
  opacity: .25;
}

.gallery__pageNotation {
  position: absolute;
  left: 0;
  background-color: rgba(0,0,0,.75);
  border-bottom: 1px solid rgba(255,255,255,.5);;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 18px;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .gallery__main img {
    height: 180px;
  }
  .gallery__picture {
    height: 180px;
    flex: 1 0 auto;
  }
}

@media (max-width: 500px) {
  .gallery__main img {
    height: auto;
  }
  .gallery__picture {
    height: auto;
    flex: auto;
  }
}