.picAdmin__main {
  background-color: rgba(33, 33, 33, 0.95);
  padding: .8em 1em 2em 1em;
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 6;
  -webkit-column-gap: 0px;
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
}

.picAdmin__main img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  border: 10px solid transparent;
  cursor: pointer;
}

.picAdmin__main img:hover {
  filter: brightness(50%) grayscale(1);
}

.picAdmin__tagSelector {  
  background-color: rgba(33, 33, 33, 0.95);
  padding: 0.5em 1.2em 0em 1.2em;
}

.picAdmin__tagSelector .ant-select-selector {
  color: #fff !important;
}

.picAdmin__tagSelector .anticon-close-circle{
  background-color: rgba(33, 33, 33, 0.95) !important;
  color: #fff !important;
}

.picAdmin__tagHalo {
  box-shadow: 0px 0px 7px 7px pink;
}

.picAdmin__tagSepia {
 filter: blur(2px) sepia(50%);
}