.picAdmin__main {
  background-color: rgba(33, 33, 33, 0.95);
  padding: 0.8em 1em 2em 1em;
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 7;
  -webkit-column-gap: 0px;
  -moz-column-count: 7;
  -moz-column-gap: 0px;
  column-count: 7;
  column-gap: 0px;
}

.picAdmin__main img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  cursor: pointer;
}

.picAdmin__picture {
  padding: 10px;
}

.picAdmin__headerBackground {
  background-color: rgba(33, 33, 33, 0.95);
}

.picAdmin__tagSelector {
  padding: 0.5em 1.2em 0em 1.5em;
  width: calc(100% - 280px);
  display: inline-block;
  vertical-align: bottom; 
}

.picAdmin__tagSelectorDeactivated {
  opacity: .2;
}

.picAdmin__adultContentFlag {
  background-color: rgba(33, 33, 33, 0.95);
  font-size: 14px;
  width: 280px;
  display: inline-block;
  vertical-align: bottom; 
}

.picAdmin__headerBackground
.picAdmin__adultContentFlag 
.ant-switch-checked {
  background-color: rgba(182, 0, 0, 0.95);
}

.picAdmin__tagSelector .ant-select-selector {
  color: #fff !important;
}

.picAdmin__tagSelector .anticon-close-circle {
  background-color: rgba(33, 33, 33, 0.95) !important;
  color: #fff !important;
}

.picAdmin__tagHalo {
  box-shadow: 0px 0px 7px 7px pink;
}

.picAdmin__tagBlur {
  filter: blur(0px) brightness(100%);
}

.picAdmin__tagBlur:hover {
  filter: blur(0px) brightness(120%);
  box-shadow: 0px 0px 7px 7px white;
}

.picAdmin__noFilter:hover {
  filter: brightness(50%) grayscale(1);
}

.picAdmin__id {
  font-weight: 200;
  opacity: 0.25;
  letter-spacing: 2px;
  font-size: 0.35em;
}

.picAdmin__tagAdult {
  box-shadow: 0px 0px 7px 7px rgba(182, 0, 0, 0.95);
}

.picAdmin__isAdult {
  font-weight: 200;
  font-size: 0.35em;
  color: rgba(182, 0, 0, 0.95);
}

@media (max-width: 1200px) {
  .picAdmin__main {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
 }
 
 @media (max-width: 1000px) {
  .picAdmin__main {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
 }
 
 @media (max-width: 800px) {
  .picAdmin__main {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
 }
 
 @media (max-width: 600px) {
  .gallery__main {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
 }
