.galleryHeader__main {
  padding: 15px 25px 0 25px;
  color: rgba(255, 255, 255, 0.75);
  width: 100vw;
  max-width: 1600px;
}

.galleryHeader__BigFont {
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 0.7em;
}

.galleryHeader__SmallFont {
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 0.5em;
}

.galleryHeader__left {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  text-align: left;
}

.galleryHeader__center {
  vertical-align: middle;
  display: inline-block;
  width: 40%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 0.7em;
}

.galleryHeader__center .anticon-close {
  color: rgba(0,0,0, .33) !important;
}
.galleryHeader__center .anticon-close:hover {
  color: rgba(0,0,0, 1) !important;
}

.galleryHeader__right {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  text-align: right;
}

.galleryHeader__pageInfo{
  display: inline-block;
}

.galleryHeader__favorite {
  cursor: pointer;
}

.galleryHeader__favorite:hover {
  color: rgba(255, 255, 255, 1);
}

.galleryHeader__setFilter{
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.galleryHeader__setFilter:hover{
  color: rgba(255, 255, 255, .75);
}

.galleryHeader__wordFilter {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);  
}