.galleryHeader__main {
  padding: 15px 25px 0 25px;
  color: rgba(255, 255, 255, 0.75);
  width: 100vw;
  max-width: 1600px;
}

.galleryHeader__left {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  text-align: left;
}

.galleryHeader__center {
  vertical-align: middle;
  display: inline-block;
  width: 40%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 0.7em;
}

.galleryHeader__main .anticon-close {
  color: rgba(0, 0, 0, 0.33) !important;
}

.galleryHeader__main .anticon-close:hover {
  color: rgba(0, 0, 0, 1) !important;
}

.galleryHeader__right {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.galleryHeader__setFilter {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.galleryHeader__setFilter:hover {
  color: rgba(255, 255, 255, 0.75);
}

.galleryHeader__wordFilter {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.light {
  opacity: 0.33;
}

.galleryHeader__main .galleryHeader__selectFilter {
  position: relative;
  bottom: 3px;
  font-size: .5em;
  width: 0px;
  display: inline-block;
  margin-left: 10px;
  transition: width .3s linear;
}

.galleryHeader__fitlerIcon{
  position: relative;
  bottom: -3px;
  font-size: 25px;
}

.galleryHeader__title {
  justify-content: center;
  font-size: 20px;
  color: rgba(255, 255, 255, .5);
  font-weight: 200;
  letter-spacing: 17px;
}