.adminHeader__main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.75);
  width: 100vw;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 18px;
  cursor: pointer;
}

.adminHeader__element {
  padding-top: 1.2vh;
  display: inline-block;
  width: 25%;
  height: 5vh;
  transition: background-color .3s, font-weight .3s, color .3s;
  height: 100%; 
}

.adminHeader__elementTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
} 

.adminHeader__element:Hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}

.adminHeader__elementSelected {
  background-color: rgba(255, 255, 255, 0.15);
  height: 100%; 
}