.adminHeader__main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.75);
  width: 100vw;
  height: 5vh;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 0.7em;
  cursor: pointer;
}

.adminHeader__left {
  padding-top: 1.2vh;
  display: inline-block;
  width: 33%;
  height: 5vh;
  transition: background-color .3s, font-weight .3s, color .3s;
}

.adminHeader__center {
  padding-top: 1.2vh;
  display: inline-block;
  width: 34%;
  height: 5vh;
  transition: background-color .3s, font-weight .3s, color .3s;
}

.adminHeader__right {
  padding-top: 1.2vh;
  display: inline-block;
  width: 33%;
  height: 5vh;
  transition: background-color .3s, font-weight .3s, color .3s;
}

.adminHeader__left:Hover, .adminHeader__center:Hover, .adminHeader__right:Hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}