.newPassword__leftPanel {
  width: 40vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
}

.newPassword__rightPanel {
  width: 60vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}
