.login__container {
    border: 0px solid transparent; 
}

.login__notification {
    background: rgba(255,255,255, .25) !important;
}

.login__notification .ant-notification-notice-message {
    color: white  !important;
}

.login__alreadyMember{
    position: absolute;
    text-align: right;
    width: 250px;
    top: 0;
    right: 10px;
    font-size: 14px;
}