.recover__full {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.recover__full .recover__form {
  width: 330px;
  max-width: 85vw;
}

.recover__full .recover__formbutton {
  width: 100%;
}

.recover__full .ant-btn-primary {
  background: rgba(0, 0, 0, .95);
  border-color: transparent;
}

.recover__full .ant-btn-primary:hover, 
.recover__full .ant-btn-primary:focus {
  background:  rgba(0, 0, 0, .5);
  border-color: rgba(50, 50, 50, .6);
}

.recover__full .recover__header {
  width: 400px;
  font-weight: 200;
  font-size: .75em;
  text-align: left;
  margin-bottom: 2vh;
}

.recover__recover {
  padding-top: 15px;
  color: rgba(0, 0, 0, .75);
}

.recover__form .recover__iRemember {
  padding-top: 15px;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.recover__form .recover__iRemember:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}